{% extends "base.html" %}
{% block title %}{{ t.project_model_title }}{% endblock %}

{% block content %}
<div class="card">
    <h2>{{ t.project_model_title }}</h2>
    <p style="font-style: italic;">{{ t.project_subtitle }}</p>
    <div style="height: 4px; width: 80px; background: var(--border-color); margin: 20px 0;"></div>

    <!-- Գաղափար -->
    <h3 style="color: var(--border-color); margin-top: 30px;">{{ t.idea_title }}</h3>
    <p>{{ t.idea_text }}</p>

<div style="display: flex; flex-direction: row; gap: 20px; justify-content: space-between; align-items: center;">
    <img src="/static/model1.jpg" alt="Մեր սարքը" style="width: 30%; border-radius: 20px;">
    <img src="/static/model2.jpg" alt="Մեր սարքը" style="width: 30%; border-radius: 20px;">
    <img src="/static//model3.jpg" alt="Մեր սարքը" style="width: 30%; border-radius: 20px;">
</div>

    <!-- Աշխատանքի սկզբունք -->
    <h3 style="color: var(--border-color); margin-top: 30px;">{{ t.how_it_works_title }}</h3>
    <p>{{ t.how_it_works_text }}</p>
    <ul style="line-height: 1.6; padding-left: 20px;">
        <li>{{ t.component_fan }}</li>
        <li>{{ t.component_filter }}</li>
        <li>{{ t.component_vibrator }}</li>
        <li>{{ t.component_power }}</li>
    </ul>

    <!-- Անվտանգության կանոններ -->
    <h3 style="color: var(--border-color); margin-top: 30px;">{{ t.safety_title }}</h3>
    <ul style="line-height: 1.6; padding-left: 20px;">
        <li>{{ t.safety_rule1 }}</li>
        <li>{{ t.safety_rule2 }}</li>
        <li>{{ t.safety_rule3 }}</li>
        <li>{{ t.safety_rule4 }}</li>
    </ul>

    <!-- Խորհուրդ -->
    <h3 style="color: var(--border-color); margin-top: 30px;">{{ t.recommendation_title }}</h3>
    <div style="background: var(--bg-secondary); padding: 20px; border-radius: 15px;">
        <p style="margin: 0;">{{ t.recommendation_text }}</p>
    </div>

    <!-- Եզրակացություն -->
    <h3 style="color: var(--border-color); margin-top: 30px;">{{ t.conclusion_title }}</h3>
    <p>{{ t.conclusion_text }}</p>
</div>
{% endblock %}
