{% extends "base.html" %}
{% block title %}{{ t.quiz_title }}{% endblock %}

{% block content %}
<div class="card">
    <h2>{{ t.quiz_title }}</h2>
    <p>{{ t.quiz_desc }}</p>
    <div class="quiz-levels">
        <a href="/quiz/very_easy" class="quiz-level very-easy">{{ t.very_easy }}</a>
        <a href="/quiz/easy" class="quiz-level easy">{{ t.easy }}</a>
        <a href="/quiz/medium" class="quiz-level medium">{{ t.medium }}</a>
        <a href="/quiz/hard" class="quiz-level hard">{{ t.hard }}</a>
        <a href="/quiz/very_hard" class="quiz-level very-hard">{{ t.very_hard }}</a>
    </div>
</div>
{% endblock %}
